body {
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e9edda;
}

h1 {
  margin: 0 auto;
  text-align: center;
  color: black;
}

#board {
  display: grid;
  grid-template-columns: repeat(2, 10vmin);
  grid-template-rows: repeat(2, 10vmin);
  gap: .5vmin;
  background-color: #e9edda;
}

#board > div {
  background-color: whitesmoke;
  border: .5vmin solid grey;
}

button {
  margin: 2vmin;
}